@model IEnumerable<WebApplication.Models.Model.Blog>
@using System.Text.RegularExpressions

@if (Model != null && Model.Any())
{
    <ul class="list-unstyled">
        @foreach (var post in Model)
        {
            <li>
                <a href="@Url.Action("BlogDetail", "Home", new { id = post.BlogId })"><img src="@post.CoverURL" class="pull-left" alt="@Html.Raw(Regex.Replace(post.Title ?? "", "<.*?>", String.Empty))" /></a>
                <h6><a href="@Url.Action("BlogDetail", "Home", new { id = post.BlogId })">@Html.Raw(Regex.Replace(post.Title ?? "", "<.*?>", String.Empty))</a></h6>
                <p>
                    @{
                        var plainText = Regex.Replace(post.Text ?? "", "<.*?>", String.Empty);
                    }
                    @(plainText.Length > 100 ? plainText.Substring(0, 100) + "..." : plainText)
                </p>
            </li>
        }
    </ul>
}
else
{
    <p>Benzer yazı bulunamadı.</p>
}