@model IEnumerable<WebApplication.Models.Model.Blog>
@using System.Text.RegularExpressions

<ul class="recent">
    @foreach (var item in Model.Take(5))
    {
        <li>
            <a href="@Url.Action("BlogDetail", "Home", new { id = item.BlogId })"><img src="@item.CoverURL" class="pull-left" alt="@Html.Raw(Regex.Replace(item.Title ?? "", "<.*?>", String.Empty))" /></a>
            <h6><a href="@Url.Action("BlogDetail", "Home", new { id = item.BlogId })">@Html.Raw(Regex.Replace(item.Title ?? "", "<.*?>", String.Empty))</a></h6>
            <p>
                @{
                    var plainText = Regex.Replace(item.Text ?? "", "<.*?>", String.Empty);
                }
                @(plainText.Length > 100 ? plainText.Substring(0, 100) + "..." : plainText)
            </p>
        </li>
    }

</ul>
